<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.itmp.examples">

    <application
        android:name=".ExamplesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This is how we can request a library but still allow the app
        to be installed if it doesn't exist. -->
        <uses-library android:name="com.example.will.never.exist" android:required="false" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.Retrofit2Test"
            android:label="@string/retrofit2test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.EXAMPLES_CODE" />
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
